* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; /* 1rem = 16px */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

.header {
    text-align: center;
    background-color: #4f288d;
    padding: 0.75rem;
    border-bottom: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img {
    margin-bottom: 5px;
    width: auto;
    height: auto;
    justify-content: center;
}

.title {
    color: yellow;
    font-size: 36px;
    margin-bottom: 5px;
}


address {
    font-style: italic;
    color: #ffffff;
    margin-bottom: 0.6rem;
}

nav {
    margin-top: 0.6rem;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-links li {
    display: inline-flex;
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: yellow;
    font-weight: bold;
    padding: 5px 10px;
    transition: 0.5s;
}

.nav-links a:hover {
    background-color: #aca32d;
    color: white;
    border-radius: 4px;
}

main {
    padding: 20px;
}

section {
    background-color: #ffffff;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

h2 {
    color: #4f288d;
    margin-bottom: 10px;
}

h3 {
    color: #333;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

.about {
    text-align: center;
}

.about iframe {
    margin-top: 1rem;
    border-radius: 8px;
    max-width: 100%;
    justify-content: center;

}

ul, ol {
    margin-left: 20px;
}

ul li, ol li {
    margin-bottom: 6px;
}

section img {
    display: block;
    margin: 10px auto;
    border-radius: 6px;
}

audio {
    display: block;
    margin: 1rem auto;
}

iframe {
    max-width: 100%;
    border-radius: 6px;
    margin-top: 1rem;
    justify-content: center;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 1rem 0;
}

.footer {
    text-align: center;
    justify-content: center;
    background-color: #4f288d;
    color: white;
    padding: 1rem;
    font-size: 1rem;
}

.contact p{
    text-align: center;
    text-emphasis: none;
    color: white;
    font-size: 1rem;
    justify-content: center;
}